COMPOSE_PROJECT_NAME=nightvex_local

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

TINODE_DB_NAME=tinode
TINODE_RESET_DB=true
TINODE_UPGRADE_DB=false
TINODE_SAMPLE_DATA=

TINODE_AUTH_TOKEN_KEY=MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWY=
TINODE_UID_ENCRYPTION_KEY=MDEyMzQ1Njc4OWFiY2RlZg==

LOCAL_HTTP_PORT=6060

FCM_PUSH_ENABLED=false
FCM_CRED_FILE=
WEBRTC_ENABLED=true
